@font-face {
  font-family: myfont;
  src: url('./Assets//fonts/RubikMarkerHatch-Regular.ttf');
}

/* Navigation */

.navbar-link-colors {
  color: white !important;
  font-size: large !important;
}

.navbar-sublink-colors {
  color: black !important;
  font-size: large !important;
}

/* Carousel */
.Caraousel_Img {
  width: 50% !important;
}


/* Modal SignUp */
.Login-Signup-Btn {
  background-color: #191919 !important;
  border: none !important;
}

.signup-btn {
  width: 100% !important;
}

.auth-link {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

/* Card Comp */

.Card-main-cont {
  border-radius: 30px 30px 0px 0px !important;

}

@keyframes example {
  0% {
    position: relative;
    left: 60px;
  }

  /* 25%  {background-color: yellow;}
  50%  {background-color: blue;} */
  100% {
    position: relative;
    left: -10px;
  }
}

/* The element to apply the animation to */
.Card-main-cont:hover svg {

  animation-name: example;
  animation-duration: 1s;
  position: relative;
  left: -10px;
}

/* Drawer CSS Cart-Item */

.Cart-Items {
  padding-bottom: 20px;

}

.Cart-Items :nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart-Items :nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Cart-Items :nth-child(2) :nth-child(2) {
  flex-direction: column;
}

.Cart-Items :nth-child(2) :nth-child(2) :nth-child(2) {
  flex-direction: row;
}

.Cart-Items :nth-child(2) :nth-child(2) :nth-child(2)>p {
  padding: 15px;
}

.Cart-Items :nth-child(3) {
  display: flex !important;
  justify-content: right !important;
}

/* HomePage CSS */

.Home-Section {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.Home-Section .Homepage-heading {
  font-size: 30px;

}

.H-left-section>h4 {
  font-size: 70%px;
  color: gray;
}

/* .addtocart-btn {
  width: 100% !important;
  border-radius: 10px 15px 60px 60px !important;
} */

@media only screen and (max-width: 1300px) {
  /* .homeimage {
    margin-top: 20px;

    width: 100%;
  } */
}

@media only screen and (max-width: 700px) {
  /* .Home-Section {
    display: flex;
    flex-wrap: wrap;
  } */
}

.Home-Section2 {
  font-size: 30px;
  font-family: serif;
  margin-top: 50px;
}

.Home-Section2a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 30px;
}

.services {
  text-align: center;
  margin-top: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.home-logoimg {
  transform: scale(3);
}


.services>h4 {
  font-size: 20px;
  margin: 20px 50px;
}

/* .maincont {
  padding-bottom: 50px;

} */

/* @keyframes example {
  0% {

    margin-left: 80%;
  }

  100% {
    margin-left: 0%;
    color: red
  }
} */

/* .pageheading {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  margin-top: 40px;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
} */

/* Card Css */

.Card-main-cont {
  text-align: right;
}

.Card-main-cont svg {
  font-size: 30px !important;
  visibility: hidden;
}

.AddtoCart-Btn {
  visibility: hidden;
}

.Card-main-cont:hover>svg {
  visibility: visible;
}

@keyframes AddBtn {
  0% {
    position: relative;
    bottom: -30px;
  }
  100% {
    position: relative;
    bottom: 10px;
  }
}

.Card-main-cont:hover .AddtoCart-Btn {
  animation-name: AddBtn;
  animation-duration: 1s;
  visibility: visible;
  position: relative;
  bottom: 10px;
}


/* .Card-main-cont {

  Width: 200px;
  border-radius: 30px 30px 0px 0px !important;

}

.cardstyling {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  flex-wrap: wrap;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-300px, -50px, -135px);
  }

  100% {
    transform: translate3d(0);
  }
}

.onlinemall {
  text-align: center;
  font-family: serif;
  margin-top: 20px;
  animation: 3s ease-out 0s 1 slideInLeft;
  font-size: 50px;
}



@keyframes example2 {
  0% {
    margin-left: 80%;
  }

  100% {
    margin-left: 0%;
  }
} */



/* Women ,Man and Kids Cards */
.productcard {
  border-radius: 30px;
  animation-name: example2;
  animation-duration: 2s;
  margin: 10px;
  background-color: white;
  text-align: center;
  border: 2px solid;
}

/* .modal {
  margin: 20px;
} */

/* .productcard:hover {
  transform: scale(1.05)
} */

/* .linkstyling {
  color: black;
  text-decoration: none;
} */

/* .mlinkstyling {
  color: black;
  text-decoration: none;
} */



.p-img {
  width: 100%;
  height: 220px;
}

/* .D-quan-btn>button:nth-child(2) {
  margin-left: 30px;

} */

/* .D-quan-btn {
  display: flex;
  flex: 1;
} */

/* .quan-btn {
  width: 5%;
} */

/* .del-btn {
  margin-top: 20px !important;
} */

/* @media only screen and (max-width: 450px) {
  .update-quantity {
    display: flex;
    flex-direction: column;

  }

  .update-quantity:nth-child(2) {
    text-align: left;

  }
} */

/* Mybag Css */
/* .emptycart-text {
  font-size: 30px !important;
  text-align: center;
}

.Bag-maindiv {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  padding: 20px;
  margin-left: 22px;
  padding-top: 30px;
}

.webBag-maindiv {
  margin: 0px 1%
}

.Bag-maindiv>h1 {
  text-align: center;
}

.Bag-sub-div {
  display: flex;
  justify-content: space-between;
}

.divcol {
  background-color: black;
}

.lists {
  list-style: none;
}

.lists2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.update-quantity {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */



/* # Forms CSS */

/* .ant-form {
  margin-top: 5% !important;
}

.form-h2 {

  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.form-h4 {
  text-align: center;
  margin-bottom: 35px;

}

.form-section {
  display: flex;
  justify-content: space-around;
}

.Loginoutbtns {
  border-radius: 10px !important;
  color: white !important;
  margin-top: 20px;
  padding: 5px 10px !important;
  width: 150px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4) !important;
  background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(200, 0, 0, 1) 50.1%, rgba(200, 0, 0, 1) 100%) !important;
  cursor: pointer !important;
}

.stylinginput {
  background-color: whitesmoke;

}

.form-image {
  width: 60%;
  height: 50%;
  margin-top: 12%;
}

@media only screen and (max-width: 780px) {
  .form-image {
    width: 50%;
    height: 70%;
  }

  .signin-formstyling {
    text-align: center;
    width: 50%;
    margin: 20px
  }


}

@media only screen and (max-width: 620px) {
  .form-image {
    display: none;
  }

  .signin-formstyling {
    text-align: center;
    width: 70%;
    margin: 20px
  }

  .stylinginput {
    background-color: whitesmoke !important;
    border: 2px solid red !important;
  }

  .Loginoutbtns {
    width: 80% !important;
  }

}

.mymodal {
  margin-left: 20% !important;
}

.modalimage {
  width: 80%;
  height: 300px;
}

@media only screen and (max-width: 500px) {
  .modalimage {
    width: 100%;
    height: 200px;
  }

  .css-5fr58b {
    margin-top: 150px;
  }
} */